*{
	margin: 0;
	padding: 0;
}
.bg_login{
	background-image: url(../images/ontwice2.png); 
	background-size: cover; 
	background-repeat: no-repeat;
	height: 100vh;
	background-position: center;
}
.tabs .indicator{
	background-color: #3097d1;
}
.input-field .prefix.active{
	color: #3097d1;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: #3097d1;
	box-shadow: 0 1px 0 0 #3097d1;
}
.container-fluid{
	margin: 0;
}
.slogan{
	padding: 5%;
	color: #fff;
	font-weight: 300;
}
.tabs .tab a:hover{
	text-decoration: none;
}
.row{
	padding-bottom: 0 !important;
}
.icon_prefix:active{
	color: red;
}

/*Inicio*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: none !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color: none !important;
}
.modal-overlay{
	z-index: 100!important;
}
.modal{
	max-height: 42%;
}
.card .card-content{
	min-height: 130px;
}
.btn_edit{
	color: #78909c;
}
.btn_edit:hover{
	color: #00838f;
}
